<p>Showing <%= pluralize @quips.size, 'quip' %> from <%= identify_user(@user) %> timeline.</p>

<ol id="quips">
<%- @quips.each do |q| -%>
  <li>
    <q>&ldquo;<%= q.text %>&rdquo;</q>
    <cite>Author Name</cite> <em>at <%= q.created_at %></em>
  </li>
<%- end -%>
</ol>