Showing <%= pluralize @quips.size, 'quip' %> from <%= current_user ? 'your' : 'the public' %> timeline.

<ol id="quips">
<%- @quips.each do |q| -%>
  <li>
    <%= q.text %>
    <%= q.created_at %>
  </li>
<%- end -%>
</ol>