<h3>Showing <span><%= pluralize @quips.size, 'quip' %></span> from <span><%= identify_user(@user) %> timeline</span></h3>

<ol id="quips">
<%- @quips.each do |q| -%>
  <li>
    <q>&ldquo;<%= q.text %>&rdquo;</q>
    <cite>Author Name</cite> <em>at <%= q.created_at %></em>
  </li>
<%- end -%>
</ol>