#quip_container {
  font: normal 16px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#quip_container ul, #quip_container ol {
  list-style: none;
  padding: 0;
}

#quip_container li {
  margin: 0;
}

#quip_container cite {
  font-style: none;
  margin-left: .5em;
}