/* Resets */
#quip_container,#quip_container cite,#quip_container em,#quip_container img,#quip_container q,#quip_container strong,#quip_container b,#quip_container u,#quip_container i,#quip_container ol,#quip_container ul,#quip_container li { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent }
#quip_container ol,#quip_container ul { list-style:none }
#quip_container :focus { outline:0 }

/* Basic Layout */

#quip_container {
  font:normal 16px/20px 'Helvetica Neue',Helvetica,Arial,sans-serif;
  line-height:20px;
}

#quip_container ul,#quip_container ol {
  list-style:none;
}

#quip_container q {
  font-style:italic;
}

#quip_container cite {
  display:block;
  font-size:14px;
  font-style:normal;
}

#quip_container cite:before {
  content:'~ ';
}