/*
HIERARCHY:
  =BASE
  =HEADER
  =CONTENT
  =QUIPS
*/

/* =BASE */

body {
  background-color: #4baae1;
}

/* =HEADER */

#header {
  position: fixed;
  background: rgba(0, 0, 0, .05);
  height: 100%;
}

#header h1 {
  position: absolute;
  top: 0;
}

/* =NAV */

#nav {
  position: absolute;
  bottom: 50%;
  width: 100%;
}

#nav ul {
  list-style-type: none;
/*  width: 100%;*/
}

#nav li {
  margin: 0;
}

#nav li a {
  display: block;
}

/* =CONTENT */

#content {
  float: right;
  height: 1200px;
}

/* =QUIPS */

#quips li {
  margin-bottom: 40px;
}