/*
HIERARCHY:
  =BASE
  =HEADER
  =CONTENT
  =QUIPS
*/

/* =BASE */

body {
  background-color: #9cf;
}

/* =GRID =TWEAKS */

.container_16 {
  position: relative;
}

/* =HEADER */

#header {
  position: fixed;
  background: rgba(0, 0, 0, .1);
  height: 100%;
}

#header h1 {
  position: absolute;
  top: 0;
}

/* =NAV */

#nav {
  position: absolute;
  bottom: 50%;
}

#nav .buttons {
  width: 100%;
}

/* =CONTENT */

#content {
  float: right;
  height: 1200px;
}

/* =QUIPS */

#quips li {
  margin-bottom: 40px;
}