/*
HIERARCHY:
  =BASE
  =SKY
  =HEADER
  =NAV
  =CONTENT
  =QUIPS
  =FOOTER
  =EDITABLE
  =BADGES
*/

/* =BASE */

body {
  background: #4baae1 url('/images/bg_sky.png') repeat-x fixed bottom left;
}

/* =SKY */

#sky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
}

#sky #flash {
  background: #f0f0f0;
  text-align: center;
}

#sky #flash .message {
  padding: 20px 0;
}

#sky #flash .notice {
  background: url("/images/bg_message_success.png") repeat-x;
}

#sky #clouds {
  height: 100px;
  background: url("/images/bg_clouds.png") repeat-x bottom center;
}

/* =SEARCH */

#in_the_sky {
  overflow: hidden;
  background: #fff url("/images/bg_in_the_sky.png") repeat-x top center;
  padding-top: 20px;
}

#in_the_sky input {
  width: 100%;
}

#in_the_sky .button {
  width: 100px;
}

/* =LISTING */

#listing {
  overflow: hidden;
  position: relative;
}

/* =BADGES */

#badges {
  position: absolute;
  top: 0;
  right: 0;
}

#badges a {
  background: rgba(0, 0, 0, .25)
}

/* =HEADER */

#header {
  position: fixed;
  height: 100%;
  z-index: 9999;
}

#header h1 {
  position: absolute;
  bottom: 0;
  left: -130px;
  background: url("/images/quippy.png") no-repeat;
  width: 400px;
  height: 260px;
  text-indent: -10000px;
}

/* =NAV */

#nav {
  position: absolute;
  bottom: 260px;
  width: 100%;
}

#nav #avatar {
  display: block;
  width: 48px;
  height: 48px;
  margin: 0 auto 20px auto;
  border: 3px solid rgba(0, 0, 0, .5);
  border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
}

#nav #avatar img {
  border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px;
}

#nav ul {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
}

#nav li {
  margin: 0;
  padding-left: 0;
}

#nav li a {
  display: block;
}

/* =CONTENT */

#content {
  float: right;
  margin-top: 200px;
  position: relative;
}

/* =QUIPS */

#quips {
  color: rgba(0, 0, 0, .75);
  list-style-type: none;
  margin-bottom: 60px;
}

#quips li {
  margin: 0 0 10px 0;
  padding: 17px;
  border: 3px solid transparent;
  border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
}

#quips li.mine {
  border-color: rgba(0, 0, 0, .05);
}

#quips li.mine:hover {
  background-color: rgba(0, 0, 0, .05);
  border-color: rgba(0, 0, 0, .5);
}

#quips li.editing {
  border-style: dashed;
}

#quips li q {
  display: block;
}

#quips li .buttons {
  margin-bottom: 20px;
}

/* =FOOTER */

#footer {
  position: fixed;
  bottom: 0;
  background: url("/images/grass.png") repeat-x;
  width: 100%;
  height: 60px;
  z-index: 10000;
}

/* =EDITABLE */

.editor #edit_quip_text {
  width: 100%;
}

.editor input[type=submit] {
  font-size: 12px;
}

/* =BADGES */

.badge_info code {
  font-size: 14px;
}

#badges {
  overflow: hidden;
}

#badges .button {
  background: transparent center no-repeat;
  border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;
  display: inline-block;
  text-indent: -10000px;
}

#badges #jquery {
  height: 15px;
  width: 70px;
  background-image: url('/images/jquery_badge.png');
}

#badges #prototype {
  height: 15px;
  width: 86px;
  background-image: url('/images/prototype_badge.png');
}