/*
HIERARCHY:
  =BASE
  =LINKS
  =HEADINGS
  =LISTS
  =SKY
  =NAV
  =CONTENT
  =BUTTONS
*/

/* =BASE */

body {
  font: normal 16px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p,dl,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset {
  margin-bottom: 20px;
}

hr {
  clear: both;
  margin-bottom: 17px;
  height: 0;
  border-top: 3px solid rgba(0, 0, 0, .25);
  border-bottom: 0;
}

/* =LINKS */

a:link, a:visited {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  text-decoration: none;
  color: rgba(0, 0, 0, .5);
  -webkit-transition: all 0.25s ease;
}

a:hover, a:active {
  border-bottom: 1px solid rgba(0, 0, 0, .75);
  color: rgba(0, 0, 0, .75);
}

/* =HEADINGS */

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
  text-align: center;
  color: rgba(0, 0, 0, .5);
}

h3 {
  font-size: 20px;
  margin-bottom: 20px;
  letter-spacing: -.05em;
  color: rgba(0, 0, 0, .75);
}

h4 {
  font-size: 18px;
  color: rgba(0, 0, 0, .5);
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

/* =LISTS */

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  margin-left: 30px;
}

/* =SKY */

#sky #flash .message span {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

#sky #flash .notice span {
  background: url("/images/icons/tick.png") no-repeat;
  padding-left: 20px;
  color: #090;
}

/* =SEARCH */

#in_the_sky p {
  margin: 0;
  font-size: 14px;
  font-style: italic;
  color: rgba(0, 0, 0, .75);
}

/* =NAV */

#nav li a {
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  border: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  text-shadow: 0 -1px rgba(0, 0, 0, .5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#nav li a:hover {
  background-color: rgba(0, 0, 0, .25);
  color: #fff;
}

#nav li.selected a {
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}

#nav li a#login {
  background: #a2e7ff url("/images/bg_button.png") repeat-x bottom center;
  padding-left: 10px;
  font-size: 14px;
  text-transform: none;
  text-shadow: none;
  text-align: left;
  color: rgba(0, 0, 0, .75);
}

#nav li a#login img {
  margin-right: 5px;
  vertical-align: text-bottom;
}

#nav li a#login:hover {
  background-color: rgba(0, 0, 0, .75);
  color: #fff;
}

#nav li a#logout {
  background: url("/images/icons/power.png") no-repeat top center;
  width: 40px;
  height: 40px;
  margin: 20px auto;
  text-indent: -10000px;
  -webkit-transition: none; /* this doesn't look so great with the transition turned on ... */
}

#nav li a#logout:hover {
  background-position: 0 -40px;
}

/* =CONTENT */

#content h3 {
  border-bottom: 1px solid rgba(0,0,0,.25);
  color: rgba(0, 0, 0, .5);
  font-size: 11px;
  font-weight: normal;
  letter-spacing: .1em;
  text-transform: uppercase;
}

#content h3 span {
  color: rgba(0, 0, 0, .9);
  font-weight: bold;
}

/* =QUIPS */

#quips q {
  font-style: italic;
}

#quips #edit_quip_text {
  background-color: rgba(255, 255, 204, 1);
  font-style: italic;
}

#quips cite, #quips span, #quips em {
  font-size: 14px;
  font-style: normal;
}

#quips cite:before {
  content: "~ ";
}

#quips cite {
  color: rgba(0, 0, 0, .5);
}

#quips span, #quips em {
  color: rgba(0, 0, 0, .25);
}

#quips em a:link, #quips em a:visited {
  color: inherit;
}

#quips em a:hover, #quips em a:active {
  color: rgba(0, 0, 0, .75);
}

/* =FORMS */

input, textarea, select {
  font: inherit;
}

input, textarea {
  border-top: 1px solid rgba(0, 0, 0, .5);
  border-right: 1px solid rgba(0, 0, 0, .25);
  border-bottom: 1px solid rgba(0, 0, 0, .25);
  border-left: 1px solid rgba(0, 0, 0, .5);
}

/* =EDITABLE */

.editable {
  border: 1px solid transparent;
}

.editable:hover {
  background-color: rgba(255, 255, 204, 1);
}

/* =ONEHUB */

#onehub {
  background-color: #000; /* in case someone comes by on a browser that's not rgba friendly */
  background-color: rgba(0, 0, 0, .45);
  border-radius-top-left: 10px; -moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px;
  border-radius-top-right: 10px; -moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px;
  color: white;
  font-size: 12px;
  margin-top: 25px;
  overflow: hidden;
  padding: 5px 10px;
  -webkit-transition: background-color .25s ease;
}

#onehub span {
  display: block;
  float: left;
  padding-top: 3px;
  margin-left: 5px;
}

#onehub:hover {
  background-color: rgba(0, 0, 0, .95);
}

#onehub a:link, #onehub a:visited {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  font-weight: bold;
}

#onehub a:hover, #onehub a:active {
  border-bottom: 1px solid rgba(255, 255, 255, .75);
}

#onehub a#logo {
  background: transparent url('/images/onehub_white.png') left center no-repeat;
  border-bottom: 0 none;
  display: block;
  float: left;
  height: 26px;
  width: 30px;
}

#onehub a#logo img {
  display: block;
  width: 0px;
}

/* =BUTTONS */
/* Abstracted from the Wufoo implementation - thanks guys! */
/* http://particletree.com/features/rediscovering-the-button-element/ */

.buttons {
  font-size: 11px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, .5);
}

.buttons a.button, .buttons button {
  background-color: rgba(0, 0, 0, .25);
  padding: 6px 10px 6px 10px; /* Links */
  border: 0;
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-weight: bold;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 -1px rgba(0, 0, 0, .5);
  color: #fff;
  cursor: pointer;
}

.buttons button {
  width: auto;
  overflow: visible;
  padding: 4px 10px 3px 10px; /* IE6 */
}

.buttons button[type] {
  padding: 4px 10px 5px 10px; /* Firefox */
  line-height: 18px; /* Safari */
}

*:first-child+html button[type] {
  padding: 4px 10px 3px 10px; /* IE7 */
}

.buttons button:hover, .buttons a.button:hover, .buttons a.button:active {
  background-color: rgba(0, 0, 0, .5);
}

.buttons a.passive {
  background-color: rgba(0, 0, 0, .1);
  font-weight: normal;
  text-shadow: none;
  color: rgba(0, 0, 0, .5);
}

.buttons a.passive:hover {
  background-color: rgba(0, 0, 0, .25);
  color: rgba(0, 0, 0, .75);
}