/*
HIERARCHY:
  =BASE
  =LINKS
  =HEADINGS
  =LISTS
  =SKY
  =NAV
  =CONTENT
  =BUTTONS
*/

/* =BASE */

body {
  font: normal 16px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p,dl,hr,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset {
  margin-bottom: 20px;
}

hr {
  clear: both;
  height: 0;
  border-top: 1px solid #000;
}

/* =LINKS */

a:link, a:visited {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  text-decoration: none;
  color: rgba(0, 0, 0, .5);
  -webkit-transition: all 0.25s ease;
}

a:hover, a:active {
  border-bottom: 1px solid rgba(0, 0, 0, .75);
  color: rgba(0, 0, 0, .75);
}

/* =HEADINGS */

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

/* =LISTS */

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  margin-left: 30px;
}

/* =SKY */

#sky #flash .message span {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

#sky #flash .notice span {
  background: url("/images/icons/tick.png") no-repeat;
  padding-left: 20px;
  color: #090;
}

/* =NAV */

h2 {
  margin-bottom: 20px;
  letter-spacing: -.05em;
  text-align: center;
  color: rgba(0, 0, 0, .5);
}

#nav li a {
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  border: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  text-shadow: 0 -1px rgba(0, 0, 0, .5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#nav li a:hover {
  background-color: rgba(0, 0, 0, .25);
  color: #fff;
}

#nav li.selected a {
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
}

#nav li a#login {
  background: #a2e7ff url("/images/icons/favicon_twitter.png") no-repeat 25px center;
  line-height: 40px;
  text-transform: none;
  color: #33ccff;
}

#nav li a#login:hover {
  background-color: #3cf;
  color: #fff;
}

#nav li a#logout {
  background: url("/images/icons/power.png") no-repeat top center;
  width: 40px;
  height: 40px;
  margin: 20px auto;
  text-indent: -10000px;
  -webkit-transition: none; /* this doesn't look so great with the transition turned on ... */
}

#nav li a#logout:hover {
  background-position: 0 -40px;
}

/* =CONTENT */

#content h3 {
  border-bottom: 1px solid rgba(0,0,0,.25);
  color: rgba(0, 0, 0, .5);
  font-size: 11px;
  font-weight: normal;
  letter-spacing: .1em;
  text-transform: uppercase;
}

#content h3 span {
  color: rgba(0, 0, 0, .9);
  font-weight: bold;
}

/* =QUIPS */

#quips q {
  font-style: italic;
}

#quips #edit_quip_text {
  background-color: rgba(255, 255, 204, 1);
  font-style: italic;
}

#quips cite, #quips em {
  font-size: 14px;
  font-style: normal;
}

#quips cite:before {
  content: "~ ";
}

#quips cite {
  color: rgba(0, 0, 0, .5);
}

#quips em {
  color: rgba(0, 0, 0, .25);
}

#quips em a:link, #quips em a:visited {
  color: inherit;
}

#quips em a:hover, #quips em a:active {
  color: rgba(0, 0, 0, .75);
}

/* =FORMS */

input {
  line-height: 18px;
  border-top: 1px solid rgba(0, 0, 0, .5);
  border-right: 1px solid rgba(0, 0, 0, .25);
  border-bottom: 1px solid rgba(0, 0, 0, .25);
  border-left: 1px solid rgba(0, 0, 0, .5);
  font: inherit;
}

/* =EDITABLE */

.editable {
  border: 1px solid transparent;
}

.editable:hover {
  background-color: rgba(255, 255, 204, 1);
}

/* =BUTTONS */
/* Abstracted from the Wufoo implementation - thanks guys! */
/* http://particletree.com/features/rediscovering-the-button-element/ */

.buttons {
  font-size: 11px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, .5);
}

.buttons a.button, .buttons button {
  background-color: rgba(0, 0, 0, .25);
  padding: 6px 10px 6px 10px; /* Links */
  border: 0;
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 100%;
  font-weight: bold;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 -1px rgba(0, 0, 0, .5);
  color: #fff;
  cursor: pointer;
}

.buttons button {
  width: auto;
  overflow: visible;
  padding: 4px 10px 3px 10px; /* IE6 */
}

.buttons button[type] {
  padding: 4px 10px 5px 10px; /* Firefox */
  line-height: 18px; /* Safari */
}

*:first-child+html button[type] {
  padding: 4px 10px 3px 10px; /* IE7 */
}

.buttons button:hover, .buttons a.button:hover, .buttons a.button:active {
  background-color: rgba(0, 0, 0, .5);
}

.buttons a.passive {
  background-color: rgba(0, 0, 0, .05);
  text-shadow: none;
  color: rgba(0, 0, 0, .5);
}