<div class="badge_info">
  <p>In order to user our jQuery badge, copy and paste the following code onto your site:</p>

  <hr />
  <p>In the &lt;head&gt; element <%= clippy render :partial => 'jquery_code' %></p>
  <code>
    <%= (render :partial => 'jquery_code').nl2br %>
  </code>

  <hr />
  <p>In the &lt;body&gt; element <%= clippy render :partial => 'quip_container_code' %></p>
  <code>
    <%= render :partial => 'quip_container_code' %>
  </code>
</div>
