<p>
  Quippopotamus stores all of your favorite quips and quotes in one place. 
  Once you've got a collection of quips you can easily embed them anywhere using one of our badges.
</p>

<p>
  Getting your Quips in to Quippopotamus is easy. First, if you haven't already, click "Login with Twitter" and click "Allow". 
  Then, simply post a tweet from the Twitter website or your favorite client, and add one of the supported hash tags to the end of your quip - <strong>#qp</strong> or <strong>#quippo</strong>
</p>

<p>
  By default, we'll assume you came up with the pithy turn of phrase all on your own, but if not, 
  you can ensure that the person who said the quip gets appropriate credit by structuring your quips in one of the following ways:
</p>

<p>
  <em>Attributed</em><br>
  <quote>"This is a very interesting quote" - Charles Darwin</quote>
</p>

<p>
  <em>Retweeted with a suffix</em><br>
  <quote>This is a very interesting quote (via @darwin)</quote><br>
</p>

<p>
  <em>Retweeted with a prefix</em><br>
  <quote>RT @darwin: This is a very interesting quote</quote>
</p>

<p>
  Note that the badge links below the search box change depending on your search terms and which user's quips you're viewing, 
  so you can easily customize what gets shown on your site.
</p>

<p>
  Have fun, and feel free to <a href="mailto:help@quippopotam.us">contact us</a> if you have any questions!
</p>