<div id="search">
  <div class="container_16">
  <%- form_tag request.url, :id => 'search', :method => 'get' do -%>
    <div class="grid_10 prefix_4"><%= text_field_tag :q, params[:q] %></div>
    <div class="buttons grid_2"><%= link_to "Search", "#", :onclick => "$('search').submit(); return nil;", :class => 'search button' %></div>
    <%# link_to "Clear", "#", :onclick => "$('q').value = ''; $('search').submit(); return nil;", :class => 'cancel button' %>
  <%- end -%>
  <hr />
  </div>
</div>